@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
* {
  margin: 0;
  padding: 0;
  outline: none;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  overflow: hidden;
  background: url("img/form/wave.png");
  background-repeat: round;
  overflow-y: scroll;
}

.header {
  position: absolute;
  /* Act as if it don't belong to HTML */
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 100px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  z-index: 100;
  /* For overlapping. Higher will be shown at front */
}

.logo {
  font-size: 2em;
  color: #358391;
  pointer-events: none;
  margin-right: 50px;
}

.navigation a {
  color: #358391;
  padding: 6px 15px;
  margin: 0px 10px;
  text-decoration: none;
  font-weight: 600;
  border-radius: 20px;
}

.navigation a:hover,
.navigation a.active {
  color: #ffffff;
  background-color: #358391;
}

::selection {
  color: #fff;
  background: #358391;
}
.container {
  width: 330px;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  text-align: center;
  border-radius: 5px;
  padding: 30px 35px 10px 35px;
  margin-top: 10%;
}
.container header {
  font-size: 35px;
  font-weight: 600;
  margin: 0 0 30px 0;
}
.container .form-outer {
  width: 100%;
  overflow: hidden;
}
.container .form-outer form {
  display: flex;
  width: 400%;
}
.form-outer form .page {
  width: 25%;
  transition: margin-left 0.3s ease-in-out;
}
.form-outer form .page .title {
  text-align: left;
  font-size: 25px;
  font-weight: 500;
}
.form-outer form .page .field {
  width: 330px;
  height: 45px;
  margin: 45px 0;
  display: flex;
  position: relative;
}
form .page .field .label {
  position: absolute;
  top: -30px;
  font-weight: 400;
}

form .page .field input {
  height: 70%;
  width: 100%;
  border: 2px solid lightgrey;
  border-radius: 5px;
  padding-left: 15px;
  font-size: 18px;
}
form .page .field input:focus {
  border: 2px solid black;
  -webkit-transition: 0.5s;
  transition: 1s ease-in-out;
}
form .page .field select {
  width: 100%;
  padding-left: 10px;
  font-size: 17px;
  font-weight: 500;
}
form .page .field button {
  width: 100%;
  height: calc(70% + 5px);
  border: none;
  background: #1abc9c;
  margin-top: -20px;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: 0.8 ease-in-out;
}
form .page .field button:hover {
  background-color: darkcyan;
  color: #fff;
}
form .page .btns button {
  margin-top: -20px !important;
}
form .page .btns button.prev {
  margin-right: 3px;
  font-size: 17px;
}
form .page .btns button.next {
  margin-left: 3px;
}
.container .progress-bar {
  display: flex;
  margin: 40px 0;
  user-select: none;
}
.container .progress-bar .step {
  text-align: center;
  width: 100%;
  position: relative;
}
.container .progress-bar .step p {
  font-weight: 500;
  font-size: 18px;
  color: #000;
  margin-bottom: 8px;
}
.progress-bar .step .bullet {
  height: 25px;
  width: 25px;
  border: 2px solid #000;
  display: inline-block;
  border-radius: 50%;
  position: relative;
  transition: 0.2s;
  font-weight: 500;
  font-size: 17px;
  line-height: 25px;
}
.progress-bar .step .bullet.active {
  border-color: #358391;
  background: #358391;
}
.progress-bar .step .bullet span {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.progress-bar .step .bullet.active span {
  display: none;
}
.progress-bar .step .bullet:before,
.progress-bar .step .bullet:after {
  position: absolute;
  content: "";
  bottom: 11px;
  right: -51px;
  height: 3px;
  width: 44px;
  background: #262626;
}
.progress-bar .step .bullet.active:after {
  background: #015d00;
  transform: scaleX(0);
  transform-origin: left;
  animation: animate 0.3s linear forwards;
}
@keyframes animate {
  100% {
    transform: scaleX(1);
  }
}
.progress-bar .step:last-child .bullet:before,
.progress-bar .step:last-child .bullet:after {
  display: none;
}
.progress-bar .step p.active {
  color: #015d00;
  transition: 0.2s linear;
}
.progress-bar .step .check {
  position: absolute;
  left: 50%;
  top: 70%;
  font-size: 15px;
  transform: translate(-50%, -50%);
  display: none;
}
.progress-bar .step .check.active {
  display: block;
  color: #fff;
}

#cvv {
  right: 37%;
}

input[type="radio"] {
  display: none;
}

.radio-option {
  margin-bottom: 10px;
}
.select_amt {
  width: 330px;
  display: flex;
  /* flex-direction: column; */
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.radio-option label {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f1f1f1;
  color: #333;
  height: 80px;
  width: 95px;
  cursor: pointer;
  border-radius: 4px;
  border-radius: 10px;
}

.radio-option label:hover {
  background-color: #e0e0e0;
}

.radio-option input[type="radio"]:checked + label {
  background-color: #4caf50;
  color: white;
  -webkit-transition: 0.5s;
  transition: 0.6s ease-in-out;
}
.radio-option input[type="radio"]:not(:checked) + label {
  -webkit-transition: 0.5s;
  transition: 0.6s ease-out;
}

#give-custom-amount {
  display: none;
}

/* input[type="text"]  */
#custom-amount {
  display: inline-block;
  width: 190px;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  height: 55px;
  font-weight: 500;
  border: 2px solid lightgray;
  font-size: 20px;
  margin: 0px;
  text-align: center;
}

#custom-amount:focus {
  border: 2px solid black;
  -webkit-transition: 0.5s;
  transition: 0.6s ease-in-out;
}

input[type="submit"] {
  background-color: #4caf50;
  color: white;
  cursor: pointer;
}
